DATABASE_URL="postgresql://usuario:senha@localhost:5432/nome_do_banco?schema=public"
PORT=3333
JWT_SECRET="sua_chave_secreta_jwt_aqui"
FRONTEND_URL="http://localhost:5173"
MP_ACCESS_TOKEN="APP_USR-seu_access_token_aqui"
EMAIL_USER="seu_email@gmail.com"
EMAIL_PASS="sua_senha_de_app_de_16_digitos"